#name-color
{
    color:orange;
}
body{
    font-family: 'Playfair Display', serif;
    
    
    text-align: justify;
    margin:0px;
    margin-top: 0px;
}
p{
    font-size: 20px;
}
h1{
    font-size:55px;
    font-family: 'Hachi Maru Pop', cursive;
    
   
    
}
.div1
{
    
        width:40%;
        float:left;
        margin-left:5%;
        padding-left:2%;
        
        height: 500px;
        
    
}
.div2
{
    width:40%;
        float:left;
        
        margin-top: 40px;
        
        height: 500px;

}
#div21
{
   
    width:40%;
    
    padding-left: 2%;
    float:left;
    padding-top: 50px;
}
#div22
{
    margin-left: 5%;
    width:40%;
    float:left;
    padding-left: 3%;

    padding-right: 5%;
}
#sec1
{
    background-image: url(images/top-banner.png);
    height:500px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    

}
.div2 img, #div21 img
{
    width:100%;
    height:100%;
}

#button,#query-button
{
    background-image: linear-gradient(45deg, red,gold);
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    color:white;
    font-weight: 700;
}
.divp
{
    text-decoration: none;
    
}
#middle
{
    height: 600px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
#footer
{
    background-color:#77ebed;
    height:200px;
    
    margin-bottom: 10px;

}
#lastdiv
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    padding-top: 10px;
}



